*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #ffffff;
}

label {
    color: #0a0a23;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owner {
    font-size: 26px;
    margin-bottom: 20px;

}

.title {
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 20px;
    background-color: #ffffff;
    color: #0a0a23;
    border-radius: 20px;
    box-shadow: 0 6px 6px #002ead;
}

.palindrome-input {
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
}

.palindrome-btn {
    width: 90px;
    background-color: #5a01a7;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.palindrome-definition-div {
    width: min(100vw, 450px);
    min-height: 140px;
    font-size: 20px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-div {
    min-height: 50px;
    word-wrap: break-word;
    overflow-y: auto;
    color: black;
}

.user-input {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.palindrome-definition {
    /* vertical-align: middle; */
    text-align: center;
    color: #ffffff;
}
